.stack-component {
	text-align: center;
}

.stack {
	margin: auto auto auto auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 4vw;
	max-width: 60vw;
}

.dark .new-icon {
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 15px;
	padding-top: 20px;
	width: 150px;
	height: auto;
	background-color: rgba(55, 58, 59, 0.459);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light .new-icon {
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 15px;
	padding-top: 20px;
	width: 150px;
	height: auto;
	background-color: rgba(212, 219, 221, 0.459);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.github-icon {
	background-color: #fff;
	border-radius: 50%;
}

.stack img {
	width: 6vw;
}