.dark {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.light {
    background-color: #e0e0e0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark a:link, .dark a:visited, .dark a:hover, .dark a:active {
    color: #59CA4E;
}

.light a:link, .light a:visited, .light a:hover, .light a:active {
    color: #f950ff;
}