.switch {
    margin-top: 2vh;
    margin-bottom: 0vh !important;
    margin-left: auto;
    margin-right: auto;
}

.switch-caption {
    margin-top: 2vh;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.readme {
    max-width: 750px;
    margin: 2vh auto auto auto;
    text-align: left;
}

.a-dark:link, .a-dark:visited, .a-dark:hover, .a-dark:active {
    color: #59CA4E;
}

.a-light:link, .a-light:visited, .a-light:hover, .a-light:active {
    color: #f950ff;
}