.box-dark {
  font-family: Montserrat, sans-serif;;
  font-size: 18px;
  padding: 40px;
  box-shadow:
	  inset #59CA4E  0 0 0 5px;
}

.box-light {
  font-family: Montserrat, sans-serif;;
  font-size: 18px;
  padding: 40px;
  box-shadow:
	  inset #f950ff  0 0 0 5px;
}