.socials-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socials-container img {
	max-width: 15em;
}

.github-icon {
	background-color: #fff;
	border-radius: 50%;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

.dark .qr {
	box-shadow:
		inset #59CA4E  0 0 0 0.3em;
}

.dark .Collapsible {
	box-shadow:
		inset #59CA4E  0 0 0 0.3em;
}

.qr {
	border-radius: 2em;
	font-weight: bold;
	text-align: center;
}

.Collapsible {
	border-radius: 2em;
	font-weight: bold;
	text-align: center;
	padding: 2.1em;
}

.light .qr {
	box-shadow:
		inset #f950ff  0 0 0 0.3em;
}

.light .Collapsible {
	box-shadow:
		inset #f950ff  0 0 0 0.3em;
}