.stack-component {
	text-align: center;
}

.stack {
	margin: auto auto auto auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.dark .new-icon {
	border-radius: 1em;
	width: 7em;
	height: 7em;
	display: flex;
	padding-top: 1.3em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(55, 58, 59, 0.459);
	box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.02), 0 0.6em 2em 0 rgba(0, 0, 0, 0.019);
}

.light .new-icon {
	border-radius: 1em;
	width: 7em;
	height: 7em;
	display: flex;
	padding-top: 1.3em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(117, 172, 187, 0.459);
	box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.02), 0 0.6em 2em 0 rgba(0, 0, 0, 0.019);
}

.stack img {
	width: 6vw;
}